@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="alert-info text-center">Подтверждение регистрации</h1>
@{
    <h2>
        <p>
            Вы зарегестрировались у нас на сайте. На почту <i>@Model.Email</i> было отправлено подтверждающее письмо.
        </p>
    </h2>
}
