@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <h2>
        <p>
            Вы зарегестрировались у нас на сайте. На почту @Model.Email было отправлено подтверждающее пиьсмо.
        </p>
    </h2>
}
